
*{
    padding:0;
    margin:0;
    font-family: 'Fredoka', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
.hero{
    height: 100vh;
    width:100%;
    background-image: url(../key.jpg);
    background-size:cover;
    background-position: center;
    backdrop-filter:blur(4px) ;


}

nav {
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 20px;
    }
.logo{
    color: rgb(255, 255, 255);
    font-size: 45px;
    letter-spacing: 10px;
    cursor: pointer;
}
span{
    color: rgb(212, 3, 3);
}
nav ul li{
    list-style-type: none;
    display: inline-block; 
    padding:15px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 10px ;
    position: relative;
    
}
nav ul li a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: rgb(212, 3, 3);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
nav ul li a:hover:after{
    width: 100%; 
    left: 0; 
}






 




.content{
    position:absolute;
    top:55%;
    left:8%;
    transform: translateY(-50%);
    color: aliceblue;
  
}
.description{
    font-size: 50px;
    letter-spacing: 7px;
}
h1{
    color:white;
    margin:20px 0 px 20px;
    font-size: 115px;
}
h1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 250%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
  
h3{
    color: aliceblue;
    font-size: 45px;
    margin-bottom: 50px;
}
.newalatter form{
    width: 380px;
    max-width: 100%;
    position:relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
     padding: 14px 130px 14px 15px;
     border: 2px solid rgb(212, 3, 3);
     outline: none;
     border-radius: 40px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:rgb(212, 3, 3);
    color: white;
    box-shadow: 0px Opx 5px #000, Opx 0px 15px #858585;
    margin-top: 6px;
    margin-left :-125px;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-image:  linear-gradient(black,#232121);
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
    animation-duration: 3s;
    animation-name: slidein;
}

.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color:rgba(216, 145, 145, 0.871);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:rgb(212, 3, 3);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid rgb(212, 3, 3);
	cursor: pointer;
}
.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: rgb(212, 158, 158);
	font-size: 50px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}


.wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
  }
  
  .title h2 a {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family:'Fredoka', sans-serif;
  }
  
  /*effect-underline*/
  a.effect-underline:after {
      content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
  }
  
  a.effect-underline:hover:after {
    opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 320px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: rgb(212, 3, 3);

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.page-wrap {
    padding: 2em;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  
 
  
  